<!-- SECTION: Articles -->
<section class="latest-articles has-padding alternate-bg" id="articles">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h4 class="theme-title">Latest Articles</h4>
			</div>
		</div>
			
		<div class="row" ng-repeat="row in posts" ng-class="{'has-top-margin': !$first}">
			<div class="col-md-6" ng-repeat="item in row">
				<article id="post-{{item.id}}" class="article-post">
					<a href="/post/{{item.slug}}">
						<div class="article-image has-overlay" style="background-image: url('{{item.featured_thumb_url}}')">
						</div>
						<figure>
							<figcaption>
								<h2>{{item.title.rendered}}</h2>
								<div ng-bind-html="item.excerpt.rendered"></div>
							</figcaption>
						</figure>
					</a>
					<div class="article-footer">
						<i class="fa fa-folder-o" ng-show="item.post_categories"></i>
						<a ng-repeat="category in item.post_categories" ng-href="/category/{{category.slug}}"> {{category.name}}</a>
						<span class="article-comments"><i class="fa fa-comments"></i> {{item.post_comments_count.approved}}</span>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- END SECTION: Articles -->